## CLEAN FILE 1

THE PURPOSE OF THIS FILE IS TO CLEAN EACH COLUMN IN FILE 1

1) DROP COLUMN
2) CLEAN COLUMN TARIKH
3) CLEAN COLUMN TARIKH KEPUTUSAN UJIAN
4) CLEAN COLUMN MUKIM
5) CLEAN COLUMN KEPUTUSAN
6) CLEAN COLUMN SARINGAN
7) CLEAN COLUMN TEMAPT KERJA
8) CLEAN COLUMN GEJALA
9) CLEAN COLUMN WARGANEGARA
10) CLEAN COLUMN ALAMAT
11) CHANGE TITLE OF COLUMN 


THIS FILE ARE USING CSV OF
1) Covid_dataset_file1.csv

THIS FILE GENERATE CSV OF
1) FILE1CLEANED.csv

In [1]:
import pandas as pd
import numpy as np
from dateutil.parser import parse
import re

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
#FILE 1

df = pd.read_csv("Covid_dataset_file1.csv")
df



# Specify the list of columns to drop which are not relevance
columns_to_drop = ['BIL', 'KOD HL', 'NAMA', 'UMUR', 'JANTINA', 'NO TEL', 'TARIKH INPUT NOTIFIKASI',  'TARIKH SIASATAN',
                   'HARI KE BERAPA SIASATAN', 'FACILITY SAMPEL' , 'PENYIASAT', 'SMS ALERT', 'BED/AMBULANCE REQUEST' ,
                   'REMARK/IMPORT A/B/C', 'CATATAN']

# Drop columns if they exist in the DataFrame
for col in columns_to_drop:
    if col in df.columns:
        df.drop(col, axis=1, inplace=True)
        
# Save the modified DataFrame to a new CSV file
df.to_csv('newmodified_coviddatafile1.csv', index=False)

df

,TARIKH,ALAMAT,MUKIM,WARGANEGARA,IC/PASSPORT,TARIKH KEPUTUSAN UJIAN,KEPUTUSAN,SARINGAN,TEMPAT KERJA,GEJALA,KLUSTER
0,20-10-20,"10-3B, JALAN HENTIAN 1C, PLAZA HENTIAN KAJANG.",KAJANG,MYANMAR,MD718936,11.10.2020,DETECTED,NaN,NaN,NaN,HENTIAN
1,20-10-20,"11-3F, JALAN HENTIAN 1C, PLAZA HENTIAN KAJANG.",KAJANG,MYANMAR,MD565587,11.10.2020,DETECTED,NaN,NaN,NaN,HENTIAN
2,20-10-20,"11-3F, JALAN HENTIAN 1C, PLAZA HENTIAN KAJANG.",KAJANG,MYANMAR,MD952285,11.10.2020,DETECTED,NaN,NaN,NaN,HENTIAN
3,20-10-20,"11-3F, JALAN HENTIAN 1C, PLAZA HENTIAN KAJANG.",KAJANG,MYANMAR,ME495475,11.10.2020,DETECTED,NaN,NaN,NaN,HENTIAN
4,20-10-20,"11-3F, JALAN HENTIAN 1C, PLAZA HENTIAN KAJANG.",KAJANG,MYANMAR,ME495473,11.10.2020,DETECTED,NaN,NaN,NaN,HENTIAN
...,...,...,...,...,...,...,...,...,...,...,...
27426,26-4-21,"NO11. JLN RAKAN 11, SUNGAI LONG, KAJANG",KAJANG,MALAYSIA,8.40506E+11,20/4/2021,positif,NaN,NaN,NaN,NaN
27427,26-4-21,"3, JALAN AMAN 3, TAMAN SRI AMAN , CHERAS SELANGOR",CHERAS,MALAYSIA,8.90521E+11,20/4/2021,positif,NaN,NaN,NaN,NaN
27428,26-4-21,"NO.3 TAMANIMUDA, 43200 CHERAS, SELANGOR",CHERAS,MALAYSIA,2.80511E+11,20/4/2021,positif,NaN,NaN,NaN,NaN
27429,26-4-21,"SA-B7-,SRI AYU BLOK 7, BANDAR BARU BANGI",KAJANG,BWN,C4474507,25/4/2021,positif,BERGEJALA,SONY,NaN,NaN
27430,26-4-21,"BO FOONG METAL SDN BHD LOT 5198, KAWASAN PERIN...",CHERAS,BWN,MC548142,24/4/2021,positif,NaN,NaN,NaN,NaN

In [4]:
#feature selected
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27431 entries, 0 to 27430
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   TARIKH                  27431 non-null  object
 1   ALAMAT                  27418 non-null  object
 2   MUKIM                   25108 non-null  object
 3   WARGANEGARA             23467 non-null  object
 4   IC/PASSPORT             27093 non-null  object
 5   TARIKH KEPUTUSAN UJIAN  23698 non-null  object
 6   KEPUTUSAN               23969 non-null  object
 7   SARINGAN                606 non-null    object
 8   TEMPAT KERJA            602 non-null    object
 9   GEJALA                  570 non-null    object
 10  KLUSTER                 15826 non-null  object
dtypes: object(11)
memory usage: 2.3+ MB

In [5]:
# Convert the date column to a Pandas datetime format
df['TARIKH'] = pd.to_datetime(df['TARIKH'], format='%d-%m-%y')

# Filter out all rows with a date from 2020
df = df[df['TARIKH'].dt.year != 2020]

df

,TARIKH,ALAMAT,MUKIM,WARGANEGARA,IC/PASSPORT,TARIKH KEPUTUSAN UJIAN,KEPUTUSAN,SARINGAN,TEMPAT KERJA,GEJALA,KLUSTER
5914,2021-01-01,BK G-6 BLOK KENARI TAMAN WIRAJAYA KUARTERS PEN...,KAJANG,MALAYSIA,8.10805E+11,29/12/2020,PRIVATE- POS,NaN,NaN,NaN,SARINGAN KONTAK RAPAT SUAMI
5915,2021-01-01,BK G-6 BLOK KENARI TAMAN WIRAJAYA KUARTERS PEN...,KAJANG,MALAYSIA,1.81117E+11,29/12/2020,PRIVATE- POS,NaN,NaN,NaN,SARINGAN KONTAK RAPAT
5916,2021-01-01,"no.25, jln nusa tropika 2, tmn nusa, 68000 ampang",AMPANG,MALAYSIA,5.90323E+11,29/12/2020,PRIVATE- POS,NaN,NaN,NaN,SARINGAN BERGEJALA ( KERJA DI KENANGA WHOLESAL...
5917,2021-01-01,"no.25, jln nusa tropika 2, tmn nusa, 68000 ampang",AMPANG,MALAYSIA,6.20709E+11,29/12/2020,PRIVATE- POS,NaN,NaN,NaN,SARINGAN BERGEJALA
5918,2021-01-01,"123A Jalan 1/7, Villa Heights, Off Jalan Seme...",KAJANG,MALAYSIA,860521-56-5875,NaN,NaN,NaN,NaN,NaN,SARINGAN PRE ADMISSION (KPJ KAJANG)
...,...,...,...,...,...,...,...,...,...,...,...
27426,2021-04-26,"NO11. JLN RAKAN 11, SUNGAI LONG, KAJANG",KAJANG,MALAYSIA,8.40506E+11,20/4/2021,positif,NaN,NaN,NaN,NaN
27427,2021-04-26,"3, JALAN AMAN 3, TAMAN SRI AMAN , CHERAS SELANGOR",CHERAS,MALAYSIA,8.90521E+11,20/4/2021,positif,NaN,NaN,NaN,NaN
27428,2021-04-26,"NO.3 TAMANIMUDA, 43200 CHERAS, SELANGOR",CHERAS,MALAYSIA,2.80511E+11,20/4/2021,positif,NaN,NaN,NaN,NaN
27429,2021-04-26,"SA-B7-,SRI AYU BLOK 7, BANDAR BARU BANGI",KAJANG,BWN,C4474507,25/4/2021,positif,BERGEJALA,SONY,NaN,NaN
27430,2021-04-26,"BO FOONG METAL SDN BHD LOT 5198, KAWASAN PERIN...",CHERAS,BWN,MC548142,24/4/2021,positif,NaN,NaN,NaN,NaN

In [6]:
#clean tarikh keputusan ujian column to turn into datetime

In [7]:
df['TARIKH KEPUTUSAN UJIAN'].value_counts()

23/2/2021         344
3/6/2021          274
20/1/2021         264
2/4/2021          263
>10 HARI          251
                 ...
31-Dec-20           1
9 JANUARI 2021      1
RTPCR DAY 8         1
13/01/2021          1
10/05/2021          1
Name: TARIKH KEPUTUSAN UJIAN, Length: 556, dtype: int64

In [8]:

# Define the date patterns to match
date_patterns = [
    r"\d{1,2}/\d{1,2}/\d{4}",  # d/m/yyyy or dd/m/yyyy or dd/mm/yyyy
    r"\d{1,2}\s(?:JANUARI|FEBRUARI|MAC|APRIL|MEI|JUN|JULAI|OGOS|SEPTEMBER|OKTOBER|NOVEMBER|DISEMBER)\s\d{4}",  # d MONTH yyyy
    r"\d{1,2}-\w{3}-\d{2}",  # dd-Dec-yy
    r"\d{1,2}-\w{3}-\d{2}",  # dd-Dec-yy
]

# Filter the DataFrame to keep only valid date values
valid_dates = []
for value in df["TARIKH KEPUTUSAN UJIAN"]:
    if isinstance(value, str):
        for pattern in date_patterns:
            match = re.match(pattern, value)
            if match:
                valid_dates.append(match.group())
                break
        else:
            valid_dates.append(None)
    else:
        valid_dates.append(None)

df["TARIKH KEPUTUSAN UJIAN"] = valid_dates

# Drop rows with non-date values
df.dropna(subset=["TARIKH KEPUTUSAN UJIAN"], inplace=True)

# Convert the column to datetime format
df["TARIKH KEPUTUSAN UJIAN"] = pd.to_datetime(df["TARIKH KEPUTUSAN UJIAN"], format="%d/%m/%Y", errors="coerce")

# Reset the index if needed
df.reset_index(drop=True, inplace=True)

# Display the remaining date values
print(df["TARIKH KEPUTUSAN UJIAN"])

0       2020-12-29
1       2020-12-29
2       2020-12-29
3       2020-12-29
4       2020-12-29
           ...
14920   2021-04-20
14921   2021-04-20
14922   2021-04-20
14923   2021-04-25
14924   2021-04-24
Name: TARIKH KEPUTUSAN UJIAN, Length: 14925, dtype: datetime64[ns]

In [9]:
df['TARIKH KEPUTUSAN UJIAN'].value_counts()

2021-02-23    344
2021-06-03    274
2021-01-20    268
2021-04-02    263
2021-02-24    244
             ...
2021-04-28      1
2021-03-08      1
2021-04-05      1
2021-06-10      1
2021-05-08      1
Name: TARIKH KEPUTUSAN UJIAN, Length: 155, dtype: int64

In [10]:
# Filter out rows with dates from 2020, except for 29/12/2020
df = df[(df['TARIKH KEPUTUSAN UJIAN'].dt.year != 2020) | (df['TARIKH KEPUTUSAN UJIAN'].dt.date == pd.to_datetime('2020-12-29').date())]

In [11]:
df['TARIKH KEPUTUSAN UJIAN'].value_counts()

2021-02-23    344
2021-06-03    274
2021-01-20    268
2021-04-02    263
2021-02-24    244
             ...
2021-03-06      1
2022-04-18      1
2002-01-20      1
2021-02-05      1
2021-06-10      1
Name: TARIKH KEPUTUSAN UJIAN, Length: 150, dtype: int64

In [12]:
df

,TARIKH,ALAMAT,MUKIM,WARGANEGARA,IC/PASSPORT,TARIKH KEPUTUSAN UJIAN,KEPUTUSAN,SARINGAN,TEMPAT KERJA,GEJALA,KLUSTER
0,2021-01-01,BK G-6 BLOK KENARI TAMAN WIRAJAYA KUARTERS PEN...,KAJANG,MALAYSIA,8.10805E+11,2020-12-29,PRIVATE- POS,NaN,NaN,NaN,SARINGAN KONTAK RAPAT SUAMI
1,2021-01-01,BK G-6 BLOK KENARI TAMAN WIRAJAYA KUARTERS PEN...,KAJANG,MALAYSIA,1.81117E+11,2020-12-29,PRIVATE- POS,NaN,NaN,NaN,SARINGAN KONTAK RAPAT
2,2021-01-01,"no.25, jln nusa tropika 2, tmn nusa, 68000 ampang",AMPANG,MALAYSIA,5.90323E+11,2020-12-29,PRIVATE- POS,NaN,NaN,NaN,SARINGAN BERGEJALA ( KERJA DI KENANGA WHOLESAL...
3,2021-01-01,"no.25, jln nusa tropika 2, tmn nusa, 68000 ampang",AMPANG,MALAYSIA,6.20709E+11,2020-12-29,PRIVATE- POS,NaN,NaN,NaN,SARINGAN BERGEJALA
4,2021-01-01,"B2-01-08 Pandan Court, Jalan Mewah 4, Pandan M...",AMPANG,MALAYSIA,9.00109E+11,2020-12-29,PRIVATE- POS,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
14920,2021-04-26,"NO11. JLN RAKAN 11, SUNGAI LONG, KAJANG",KAJANG,MALAYSIA,8.40506E+11,2021-04-20,positif,NaN,NaN,NaN,NaN
14921,2021-04-26,"3, JALAN AMAN 3, TAMAN SRI AMAN , CHERAS SELANGOR",CHERAS,MALAYSIA,8.90521E+11,2021-04-20,positif,NaN,NaN,NaN,NaN
14922,2021-04-26,"NO.3 TAMANIMUDA, 43200 CHERAS, SELANGOR",CHERAS,MALAYSIA,2.80511E+11,2021-04-20,positif,NaN,NaN,NaN,NaN
14923,2021-04-26,"SA-B7-,SRI AYU BLOK 7, BANDAR BARU BANGI",KAJANG,BWN,C4474507,2021-04-25,positif,BERGEJALA,SONY,NaN,NaN
14924,2021-04-26,"BO FOONG METAL SDN BHD LOT 5198, KAWASAN PERIN...",CHERAS,BWN,MC548142,2021-04-24,positif,NaN,NaN,NaN,NaN

In [13]:
#clean mukim column

In [14]:
df['MUKIM'].value_counts()

KAJANG         5198
AMPANG         3206
CHERAS         2957
SEMENYIH        813
HULU LANGAT     588
               ...
17/8/1985         1
22/4/1997         1
13/3/1991         1
29/9/1974         1
22                1
Name: MUKIM, Length: 81, dtype: int64

In [15]:
unique_values = df['MUKIM'].unique()
print(unique_values)

['KAJANG' 'AMPANG' 'SEMENYIH' 'CHERAS' 'CHERAS ' 'AMPANG ' 'KAJANG '
 'SEMENYIH ' 'BERANANG' 'ampang ' 'kajang ' 'cheras' 'ampang' 'semenyih'
 'kajang' 'HULU LANGAT' 'BANGI ' 'PETALING' nan 'KL' 'MALAYSIA' 'BWN'
 'KINGDEN' 'ASAHI' 'LNN' 'ZAFA SECURITY SERVICES SDN BHD' 'BINA PLASTIK'
 'NIGERIA' 'MYANMAR' 'INDIA' 'MELAYU' 'CINA' 'VIETNAM' 'BAJAU' 'R/INDIA'
 'THAILAND' 'FILIPINA' 'UGANDA' 'RUSSIAN' 'INDO' 'R/CINA' 'INDON'
 'INDONESIA' 'R/CHINA' 'KAJANG  ' '6/7/1996' '19/10/1995' '26/11/1995'
 '4/2/1995' '15/4/2000' '10/11/1998' '5/10/2000' '9/9/1989' '17/8/1985'
 '22/4/1997' '13/3/1991' '29/9/1974' '6/2/1983' '9/6/1996' 'Malaysia'
 'Perempuan' 'Lelaki' 'HULU ANGAT' 'AA' 'A' '#ERROR!' 'BANGI'
 'BANDAR BARU BANGI' 'HULU  LANGAT' 'GOMBAK' 'Kajang' 'Ampang' '(blank)'
 'Hulu Langat' 'BALAKONG' 'HULU LANGAT - SELANGOR' '3/5/2021'
 'HULU SEMENYIH' 'PUTRAJAYA' '4/1/2021' '52' '22']

In [16]:
#CONTINUE WITH SORT THE MUKIM INTO 1 NAME AS KAJANG

df.loc[df['MUKIM'].isin(['kajang ', 'KAJANG ', 'kajang', 'KAJANG  ', 'Kajang' ]), 'MUKIM'] = 'Kajang'

In [17]:
df.loc[df['MUKIM'].isin(['Kajang', 'kajangf', 'kajang', 'kAJANG', 'kajang ', 'KAJANG', 'KAJANG ', 'KAJANG  ',
                         '3-05, PANGSAPURI NILAM RIA, KAWASAN PERNIAGAAN NILAM, 43000, KAJANG, SELANGOR 016-7254195 (PIC)', 
                         '41, JALAN MINANG, TAMAN SRI MINANG, 43000 KAJANG, SELANGOR',
                        '5-4-7, BLOK 5, APARTMENT PERSIARAN SERI PUTRA 2, BANDAR SERI PUTRA, KAJANG',
                         '53, JALAN BARU 2, TAMAN BUKIT KAJANG BARU, 43000 KAJANG, SELANGOR.', 
                         'A-02-13A BLOCK A JALAN CHERAS PRIMA, TAMAN CHERAS PRIMA 43000 KAJANG, SELANGOR',
                         'A-2-9 JALAN PUTRA PANGSAPURI ANGGERIK BLOK A TAMAN PUTRA 43000 KAJANG',
                                          'A-3-2,PANGSAPURI SERI MAWAR JALAN SERI PUTRA 4,BANDAR SERI PUTRA 43000 KAJANG,SELANGOR',
                                            'AG-9 RUMAH PANGSA, JALAN MUHIBBAH, TAMAN MUHIBBAH, 43000 KJG',
                                            'B1-8, BLOK B, FLAT BUKIT MEWAH, TAMAN BUKIT MEWAH, 43000 KAJANG.',
                                            'BLOK B-1-2, JALAN HARMONI 2/5,TAMAN HARMONI 2, BANDAR TEKNOLOGI KAJANG',
                                            'D-OG-06, APARTMENT MAWAR , TAMAN SUTERA, KAJANG, SELANGOR',
                                            'FLAT ASA JAYA, BLOK D, 2-17, JALAN ASA JAYA, 43000 KAJANG, SELANGOR',
                                            'FLAT TAMAN KAJANG UTAMA BLOCK C, TAMAN KAJANG UTAMA, 43000 KAJANG,SELANGOR',
                                            'N0 30, JALAN 2/3, TAMAN IMPIAN PUTRA, KAJANG, SELANGOR',
                                            'NO 115 JALAN SUTERA 2/5 TAMAN SUTERA, 43000, KAJANG, 5, SELANGOR',
                                            'NO 12, KLLN JALAN 1, TAMAN KOPERASI LLN, SG CHUA, 43000 KJG',
                                            'NO 15, JALAN MESRA UTAMA 4, TAMAN MESRA UTAMA, 43000 KAJANG, SELANGOR',
                                            'NO 15,LORONG 5, TAMAN PINGGIRAN SEKAMAT JALAN SUNGAI SEKAMAT  43000 KAJANG',
                                            'FLAT TAMAN KAJANG UTAMA, BLOCK C, TAMAN KAJANG UTAMA, 43000 KAJANG , SELANGOR']), 'MUKIM'] = 'Kajang'

df.loc[df['MUKIM'].isin(['CHERAS', 'cHERAS', 'PK CHERAS', 'BALAKONG', 'CHERAS ', 'cheras', 'CHEARS ', 'CHEARS',
                        '27-2F TKT 2 JALAN ORKID 6 TAMAN ORKID, CHERAS', 
                         '3-9-6,  PANGSAPURI CHERAS UTAMA,  TAMAN CHERAS UTAMA, CHERAS KL',  
                        '4-02 PERMATA HEIGHTS APARTMENT, TAMAN CHERAS PERMATA, BATU 9 CHERAS', 
                         'A-1-20 TKT 1 BLK AJALAN KASTURI 2, TAMAN KASTURI OFF, JALAN BALAKONG, BT 11,43200 CHERAS, SELANGOR',
                        'A5-5-15,JALAN BUKIT SEGAR 1,TAMAN BUKIT SEGAR, 43200,CHERAS,SELANGOR',
                        'B-08-2 GREEN SURIA APARTMENT,JALAN GREEN SURIA,BANDAR TUN HUSSEIN ONN,CHERAS',
                         'LEVEL 12-22, SILK RESIDENCE, JALAN SUTERA,LEBUHRAYA SILK,43200 SELANGOR',
                        'NO 1-14 BLOK B TAMAN CHERAS MAS 43200 BATU 9 CHERAS SELANGOR']), 'MUKIM'] = 'Cheras'

df.loc[df['MUKIM'].isin(['SEMENYIH', 'HULU SEMENYIH', 'semenyih', 'SEMENYIH ', 'SEMNYIH', 'SEMNENYIH  ', 'SEMENYIH  ',
                                      'A-5-2 BOLCK A APARTMENT SERI PERMAI JALAN KAMPUNG BARU SEMENYIH 43500 SEMENYIH SELANGOR DARUL EHSAN',
                                        "M02-4-11, D' CAMELIA, JALAN ECOHILL, 1/2, 43500 SEMENYIH, SELANGOR."]), 'MUKIM'] = 'Semenyih'

df.loc[df['MUKIM'].isin(['BERANAG', 'BERANANG', 'LB ALUMINIUM BERHAD, JALAN PERINDUSTRIAN MAHKOTA 2, TAMAN PERINDUSTRIAN MAHKOTA, 43700 BERANANG, SELANGOR']), 'MUKIM'] = 'Beranang'

df.loc[df['MUKIM'].isin(['AMPANG', 'ampang ', 'ampang', 'AMPANG ', 'AMPAG', 'AMPANG  ', 
                         '3A 16 JALAN AMPANG MEWAH JALAN 8 AMPANG SELANGOR', 
                         '80 BLOK C 38 JALAN 6/1 AMPANG TASEK 68000 AMPANG SELANGOR',
                        'A-G-1 JALAN PANDAN RIA TAMAN PANDAN RIA 68000 AMPANG SELANGOR',
                        'A2-02-13, FLAT AMPANG SAUJANA, AMPANG',
                          'A-5-4 LORONG PANDAN PERTAMA 2,PANDAN UTAMA 68000',
                        'A2-1-5 JALAN NIRWANA 14A TAMAN NIRWANA 68000 AMPANG SELANGOR',
                         'B-03-01 SRI PINANG VILLA, JALAN PANDAN BERSIH TAMAN NIRWANA AMPANG, 68000 SELANGOR',
                         'B-3-1 SRI PINANG VILLA JALAN PANDAN BERSIH TAMAN NIRWANA 68000 AMPANG SELANGOR',
                         'BLOK G -GROUND FLOOR UNIT 9 TAMAN BAKTI 68000 AMPANG SELANGOR',
                         'D-14-18 BLOK D, PANGSAPURI SERI NILAM, JALAN WAWASAN, BANDAR BARU AMPANG'
                         'M2-1-20 JALAN PANDAN INDAH 3, 6/1',
                         'LOT 2148 LORONG PERMAI 22 KG TASIK PERMAI',
                         
                         #ampang jaya
                          'BB1-16, SERI INAI BUNGA RAYA APARTMENT, JALAN PANDAN INDAH, PANDAN INDAH',
                                        ]), 'MUKIM'] = 'Ampang'

df.loc[df['MUKIM'].isin(['PUTRAJAYA']), 'MUKIM'] = 'Putrajaya'

df.loc[df['MUKIM'].isin(['dengkil']), 'MUKIM'] = 'Dengkil'

df.loc[df['MUKIM'].isin(['HULU LANGAT', 'HULU LANGAT - SELANGOR',  'HL' ,
                         'Pejabat Kesihatan Daerah Hulu Langat', 'HULU ANGAT',  'HULU  LANGAT',
                        '241B LORONG 1 ANGGERIK BT.21 KAMPUNG BARU SUNGAI LUI 43100 HULU LANGAT',
                         '49 JALAN INTAN TAMAN SRI NANDING HULU LANGAT',
                        'ACRE WORKS SDN BHD CASTING YARD LOT 7705  BATU 11 3/4 JALAN HULU LANGAT',
                        'C4-08 PANGSAPURI SRI MESRA JALAN WAWASAN 3 , TAMAN WAWASAN 43100 HULU LANGAT , SELANGOR']), 'MUKIM'] = 'Hulu Langat'

#df.loc[df['MUKIM'].isin(['malaysia', 'MALAYSIA']), 'MUKIM'] = 'Malaysia'

df.loc[df['MUKIM'].isin(['PETALING']), 'MUKIM'] = 'Petaling'

df.loc[df['MUKIM'].isin(['SEPANG']), 'MUKIM'] = 'Sepang'

df.loc[df['MUKIM'].isin(['BANGI ', 'BANGI', 'BANDAR BARU BANGI',
                                      'C-03-05 APARTMEN BANGI IDAMAN JALAN 5C/5 OFF JALAN FAIRUZA SEKSYEN 5 43650 BDR BARU BANGI SELANGOR',
                                        'E-4-20, BLOK E PANGSAPURI SERI CEMPAKA, JALAN 6/3, SEKSYEN 16, 43650 BANDAR BARU BANGI, SELANGOR. \n 018-2962600 (PIC)',
                                        'LOT 2, 4,& 6 JALAN P/4, KAWASAN PERINDUSTRIAN BANGI, 43650 BANDAR BARU BANGI, SELANGOR']), 'MUKIM'] = 'Bangi'

df.loc[df['MUKIM'].isin(['GOMBAK']), 'MUKIM'] = 'Gombak'

df.loc[df['MUKIM'].isin(['KL', 
                         '56, JALAN BUNGA MELATI 6, TAMAN SERAYA, 56100 AMPANG, KUALA LUMPUR.', 
                         '8 JALAN BUNGA DAHLIA 7 TAMAN SERAYA', 
                        '5D, JALAN 6/7, TAMAN KOMARSIAL PARK PANDAN INDAH, AMPANG', 
                         'ZAFA SECURITY SERVICES SDN BHD',
                         '2A-2F JALAN MAJU 3/5, BLIK J, TAMAN LEMBAH MAJU, 56100, WILAYAH PERSEKUTUAN KUALA LUMPUR, MALAYSIA', 
                         '6-3B, JALAN PANDAN 3/7, PANDAN JAYA, 55100, KL',
                         'AM 2-21 JALAN PANDAN INDAH 3/3, PANDAN INDAH, KL' ,
                         'BLOCK C-11-08 LORONG PANDAN PERTAMA 5A, PANDAN UTAMA, 55100 KG PANDAN, KUALA LUMPUR',             
                         'C-33A-01 RESIDENSI PANDANMAS 2,NO 2A LORONG DELAPAN KAMPUNG PANDAN',            
                         'N0 12 G1 JALAN PERDANA 6/6 PANDAN PERDANA KUALA LUMPUR , 55300 KUALA LUMPUR'              
                                      
                                       ]), 'MUKIM'] = 'Kuala Lumpur'

df.loc[df['MUKIM'].isin(['KINGDEN' ]), 'MUKIM'] = 'Klang'

df.loc[df['MUKIM'].isin(['BINA PLASTIK', 
                                      'BLOK F02-22,TAMAN SETIA BALAKONG, 43300 SERI KEMBANGAN, SELANGOR',
                                        'NO 1 -08, BLOK KENARI F, TAMAN IMPIAN EHSAN']), 'MUKIM'] = 'Seri Kembangan'

In [18]:
unique_values = df['MUKIM'].unique()
print(unique_values)

['Kajang' 'Ampang' 'Semenyih' 'Cheras' 'Beranang' 'Hulu Langat' 'Bangi'
 'Petaling' nan 'Kuala Lumpur' 'MALAYSIA' 'BWN' 'Klang' 'ASAHI' 'LNN'
 'Seri Kembangan' 'NIGERIA' 'MYANMAR' 'INDIA' 'MELAYU' 'CINA' 'VIETNAM'
 'BAJAU' 'R/INDIA' 'THAILAND' 'FILIPINA' 'UGANDA' 'RUSSIAN' 'INDO'
 'R/CINA' 'INDON' 'INDONESIA' 'R/CHINA' '6/7/1996' '19/10/1995'
 '26/11/1995' '4/2/1995' '15/4/2000' '10/11/1998' '5/10/2000' '9/9/1989'
 '17/8/1985' '22/4/1997' '13/3/1991' '29/9/1974' '6/2/1983' '9/6/1996'
 'Malaysia' 'Perempuan' 'Lelaki' 'AA' 'A' '#ERROR!' 'Gombak' '(blank)'
 '3/5/2021' 'Putrajaya' '4/1/2021' '52' '22']

In [19]:
valid_mukim = ['Kajang', 'Cheras', 'Semenyih', 'Beranang', 'Ampang', 'Putrajaya', 'Dengkil',
               'Hulu Langat', 'Malaysia', 'Petaling', 'Sepang', 'Bangi', 'Gombak',
               'Kuala Lumpur', 'Klang', 'Seri Kembangan']

df = df[df['MUKIM'].isin(valid_mukim)]

In [20]:
unique_values = df['MUKIM'].unique()
print(unique_values)

['Kajang' 'Ampang' 'Semenyih' 'Cheras' 'Beranang' 'Hulu Langat' 'Bangi'
 'Petaling' 'Kuala Lumpur' 'Klang' 'Seri Kembangan' 'Malaysia' 'Gombak'
 'Putrajaya']

In [21]:
#clean keputusan columnn 

unique_values = df['KEPUTUSAN'].unique()
print(unique_values)

['PRIVATE- POS' 'PANTAI PREMIER PATHOLOGY- POSITIVE' 'PRIVATE POSITIVE'
 'positive' 'H serdang' ' Dr.suguna' 'Dr harvinder kaur' 'Dr Wong Wei Yen'
 'Dr.suguna' 'Megaklinik Zahran (Bandar Baru Bangi)'
 'Klinik Amani Semenyih' 'DR WANI' 'poliklinik Dan Surgeri rakan'
 'DR MOHD HAKIM' nan ' hospital serdang ' 'Pantai Hospital Ampang '
 'Pantai Hospital Ampang' 'KLINIK SAIRAM, SEMENYIH'
 'Klinik Mediviron Alam Jaya Cheras' 'Poliklinik Cahaya Desa Pandan'
 'HOSPITAL ISLAM AZ-ZAHRAH' 'KPJ KAJANG'
 'PATHOLOGY & CLINICAL LABORATORY (M) SDN.BHD (' 'Poliklinik I-Care Klang'
 'PusatÃ‚ rawatanÃ‚ islamÃ‚ az-zahrah' 'The Red Clinic Jalan Universiti PJ'
 'Hospital Ampang' 'PRIVATE-POS' 'HOSPITAL PAKAR ANNUR, BB BANGI'
 'PRIVATE - POSITIVE' 'DETECTED' 'POSITIVE' 'Positive' 'DETECTED - PCR'
 'MKAK-POS' 'mkak-POS' 'private' 'PRIVATE' 'KLINIK CHERAS JAYA'
 'HOSPITAL KAJANG' 'PKD CHERAS' 'MEGAKLINIK ZAHRAN(SEKSYEN 9)'
 'KPJ AMPANG PUTERI' 'KLINIK LEMBAH JAYA AMPANG'
 'LIFE CARE DIAGNOSTIC MEDICAL CENTRE SDN BHD' 'PANTAI HOSPITAL AMPANG'
 'KLINIK HOPE' 'HOSPITAL AMPANG'
 'KLINIK AMAL SITI (TAMAN NIRWANA, AMPANG)' 'AZ-ZAHRAH' 'KLINIK SAHRIL'
 'IHEAL MEDICAL CENTRE MID VALLEY' 'KLINIK MEDIVIRON (TAMING JAYA)'
 'HOSPITAL COLUMBIA ASIA - CHERAS' 'KLINIK THAQIF (SEMENYIH VISTA VALLEY)'
 'BP DC KAJANG' 'HOSPITAL PAKAR AN-NUR' 'POLIKLINIK CAHAYA PANDAN PERDANA'
 'KAJANG PLAZA MEDICAL CENTRE' 'KLINIK ECO PERDANA'
 'KLINIK MEDIVIRON TAMAN ALAM JAYA' 'KLINIK KESIHATAN AMPANG'
 'KLINIK AS-SALAM (BANDAR BARU BANGI)' 'KLINIK INDAH PANDAN INDAH'
 'QUALITAS HEALTH KLINIK & SURGERI CHERAS TRADERS SQUARE'
 'POLIKLINIK DAMAI DAN SURGERI (BERANANG)' 'BP HEALTHCARE MEDAN TUANKU'
 'KLINIK DAMAI PERDANA' 'PKD PUTRAJAYA' 'KLINIK ANTAH' 'MD FAMILY CLINIC'
 'PRIVATE -POS' 'MKAK - POS' 'KLINIK SELVA (BALAKONG)'
 'BP DIAGNOSTIC CENTRE' 'KINGZ MEDICAL CLINIC'
 'KLINIK DR KHALID DAN DR WAN JULIA' 'KUMPULAN MEDIC JALAN AMPANG'
 'POLIKLINIK PUTRA CARE TCP-KJG-SEL' 'KLINIK KUCAI' 'KLINIK AMANI'
 'HOSPITAL SUNGAI LONG' 'KLINIK MAHA & RAO' 'KLINIK ILTIZAM'
 'POLIKLINIK GOMEZ' 'PUSAT PERUBATAN UNIVERSITI MALAYA'
 'KLINIK NG DAN LEE' 'PUTRA SPECIALIST HOSPITAL KAJANG'
 'POLIKLINIK ANNUR (JALAN REKO)' 'KLINIK MUC JALAN REKO'
 'KLINIK MEDIVIRON PELANGI SEMENYIH' 'KLINIK PREMIER (TAMAN KAJANG MEWAH)'
 'KLINIK DR LO' 'PRIVATE POSITIF ' 'PRIVATE POSITIF' 'PRIVATE-POS '
 'PRIVATE POS' 'SWASTA' 'PKDHL' 'POLIKLINIK WIRABAKTI' 'PKD HULU LANGAT'
 'LAURENT BLEU SKIN SCIENCE & WELLNESS CENTRE' 'KLINIK ANDA BALAKONG'
 'PKD SEPANG' 'MKAK POSITIF ' 'IJN' 'KLINIK MEDIVIRON(BATU 11 CHERAS)'
 'POLIKLINIK MAHSA' 'TWIN TOWERS MEDICAL CENTRE KLCC' 'KUMPULAN MEDIC'
 'POLIKLINIK RAJEN DAN SURGERI' 'POLIKLINIK MEDIPRIMA' 'KLINIK DR MONTY'
 'HOSPITAL SG. BULOH' 'QUALITAS HEALTH KLINIK RAKAN MEDIK' 'KLINIK SWASTA'
 'POLIKLINIKGREWAL' 'KLINIK PUSRAWI' 'KLINIK METRO, CHERAS' 'MKAK POS'
 'PCR +VE' 'PUSAT PERUBATAN UNIVERSITI KEBANGSAAN MALAYSIA'
 'HOSPITAL PUTRAJAYA' 'PUSAT PERUBATAN SUNWAY VELOCITY'
 'UNIKLINIK TMN PERMATA' 'H PUTRAJAYA' 'PANTAI CHERAS MEDICAL CENTRE'
 'KK SEMENYIH' 'POLIKLINIK DAN SURGERI RAKAN' 'PKD LEMBAH PANTAI'
 'KLINIK WONG DAN SINGH' 'KLINIK MEDIPULSE' "KLINIK SYIFA' 24 JAM"
 'PRIVATE LAB' 'TUNG SHIN HOSPITAL' 'KLINIK KESIHATAN SELAYANG BARU'
 'KLINIK METRO BANDAR SRI PERMAISURI' 'KLINIK KASEH (AMPANG)'
 'HOSPITAL SERDANG' 'PKD TITIWANGSA' 'KK KAJANG' 'KK AMPANG'
 'POLIKLINIK MUC (HENTIAN KAJANG)' 'HOSPITAL GLENEAGLES KUALA LUMPUR'
 'HOSPITAL KUALA LUMPUR' 'KLINIK DR. ASNAWI' 'KLINIK PERKASA'
 'PUSAT KESIHATAN UIA GOMBAK 01' 'KLINIK MEDIVIRON (BNDR SRI PERMAISURI)'
 'KLINIK MEDI PESONA BANGSAR' 'KLINIK KESIHATAN BANDAR TUN HUSSEIN ONN'
 'KLINIK KESIHATAN KAJANG' 'KLINIK NUR SYIFA BANGI'
 'KLINIK SAIRAM SETIA ECOHILL' 'POLIKLINIK DAMAI'
 'KLINIK MALAYSIA DAN SURGERI' 'KLINIK PENJARA'
 'PUSAT KESIHATAN UIA GOMBAK' 'AMPANG MEDICAL PRACTICE AMPANG JAYA'
 'POLIKLINIK SRI REKO' 'KLINIK PROMEDIK' 'KL MEDICAL CENTRE'
 'KLINIK OASIS' 'KLINIK SITI TAMAN NIRWANA' 'KLINIK RAWATAN UTAMA'
 'BP HEALTHCARE GLENMARIE' 'MEGAKLINIK ZAHRAN (BANDAR TEKNOLOGI KAJANG)'
 'KLINIK SEGARA (ALAM JAYA)' 'MEDIKLINIK MIKHAIL'
 'POLIKLINIK CAHAYA KAMPUNG PANDAN' 'POLIKLINIK SAMUDRA'
 'KPJ TAWAKKAL SPECIALIST HOSPITAL' 'Positif' 'KLINIK REDDY(JLN IPOH)'
 'KLINIK ICON TUN RAZAK' 'KLINIK PERTAMA CAWANGAN DANAU KOTA'
 'HOSPITAL ANGKATAN TENTERA TUANKU MIZAN' 'PKD KEPONG' 'KLINIK DR AZLINA'
 'POLIKLINIK PRIMECARE' 'KLINIK MEGAH' 'KLINIK KWAN (TAPAK BINA AKASA) '
 'KLINIK KITA (BDR BARU AMPANG)' 'KLINIK MEDI IMAN' 'POSITIF'
 'PCR POSITIF' 'RT-PCR Positif' 'RT PCR POSITIF' 'RT-PCR POSITIF'
 'positif' '2' 'OPERATOR']

In [22]:
df.loc[df['KEPUTUSAN'].notnull(), 'KEPUTUSAN'] = 'Positif'

In [23]:
#clean keputusan columnn 

unique_values = df['KEPUTUSAN'].unique()
print(unique_values)

['Positif' nan]

In [24]:
df

,TARIKH,ALAMAT,MUKIM,WARGANEGARA,IC/PASSPORT,TARIKH KEPUTUSAN UJIAN,KEPUTUSAN,SARINGAN,TEMPAT KERJA,GEJALA,KLUSTER
0,2021-01-01,BK G-6 BLOK KENARI TAMAN WIRAJAYA KUARTERS PEN...,Kajang,MALAYSIA,8.10805E+11,2020-12-29,Positif,NaN,NaN,NaN,SARINGAN KONTAK RAPAT SUAMI
1,2021-01-01,BK G-6 BLOK KENARI TAMAN WIRAJAYA KUARTERS PEN...,Kajang,MALAYSIA,1.81117E+11,2020-12-29,Positif,NaN,NaN,NaN,SARINGAN KONTAK RAPAT
2,2021-01-01,"no.25, jln nusa tropika 2, tmn nusa, 68000 ampang",Ampang,MALAYSIA,5.90323E+11,2020-12-29,Positif,NaN,NaN,NaN,SARINGAN BERGEJALA ( KERJA DI KENANGA WHOLESAL...
3,2021-01-01,"no.25, jln nusa tropika 2, tmn nusa, 68000 ampang",Ampang,MALAYSIA,6.20709E+11,2020-12-29,Positif,NaN,NaN,NaN,SARINGAN BERGEJALA
4,2021-01-01,"B2-01-08 Pandan Court, Jalan Mewah 4, Pandan M...",Ampang,MALAYSIA,9.00109E+11,2020-12-29,Positif,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
14920,2021-04-26,"NO11. JLN RAKAN 11, SUNGAI LONG, KAJANG",Kajang,MALAYSIA,8.40506E+11,2021-04-20,Positif,NaN,NaN,NaN,NaN
14921,2021-04-26,"3, JALAN AMAN 3, TAMAN SRI AMAN , CHERAS SELANGOR",Cheras,MALAYSIA,8.90521E+11,2021-04-20,Positif,NaN,NaN,NaN,NaN
14922,2021-04-26,"NO.3 TAMANIMUDA, 43200 CHERAS, SELANGOR",Cheras,MALAYSIA,2.80511E+11,2021-04-20,Positif,NaN,NaN,NaN,NaN
14923,2021-04-26,"SA-B7-,SRI AYU BLOK 7, BANDAR BARU BANGI",Kajang,BWN,C4474507,2021-04-25,Positif,BERGEJALA,SONY,NaN,NaN
14924,2021-04-26,"BO FOONG METAL SDN BHD LOT 5198, KAWASAN PERIN...",Cheras,BWN,MC548142,2021-04-24,Positif,NaN,NaN,NaN,NaN

In [25]:
df['SARINGAN'].value_counts()

SARINGAN KONTAK RAPAT                 380
SARINGAN BERGEJALA                    119
PENJARA KAJANG                         13
PENAJRA KAJANG                         11
SARINGAN MASUK KERJA                    7
KONTAK RAPAT                            7
saringan kontak rapat                   6
SARINGAN BANDUAN                        6
SARINGAN TEMPAT KERJA                   5
KES LAMA SARINGAN MASUK TAPAK BINA      4
SARINGAN KONTAK EAPAT                   4
SARINGAN BALIK NEGARA ASAL              4
DTIS                                    3
SARINGAN USIR NEGARA ASAL               2
SARINGAN MASUK WAD                      2
SARINGAN KEMASUKKAN WAD                 2
saringan bergejala                      2
SARINGAN KEMASUKKAN BARU                2
MASUK SITE BARU                         1
SARINGAN PRA PENERBANGAN                1
SARINGAN KESIHATAN                      1
 SARINGAN KONTAK RAPAT                  1
SARINGAN MASUK HOSPITA;                 1
SARINGAN KE SARAWAL                     1
SARINGAN UNTUK BALIK KE CHINA.          1
SARINGAN HADIR KURSUS                   1
SARINGAN MASUK HOSPITAL                 1
LADANG KERBAU                           1
BERGEJALA                               1
Name: SARINGAN, dtype: int64

In [26]:
df['KLUSTER'].value_counts()

> 24 HARI                                    1289
SARINGAN KONTAK RAPAT                         823
KLUSTER PENJARA JALAN HARAPAN                 329
KILANG  3V                                    262
CTC                                           255
                                             ...
KILANG MUZAMAL HOLDING CHERAS JAYA              1
boat tour guide di The Mines Wonderland.        1
KILANG HEE LEE BALAKONG                         1
RADICARE H AMPANG                               1
WAISUN CONFECTIONERY                            1
Name: KLUSTER, Length: 1683, dtype: int64

In [27]:
#combine column saringan and kluster

df['SARINGAN'] = df['SARINGAN'].fillna(df['KLUSTER'])

In [28]:
df

,TARIKH,ALAMAT,MUKIM,WARGANEGARA,IC/PASSPORT,TARIKH KEPUTUSAN UJIAN,KEPUTUSAN,SARINGAN,TEMPAT KERJA,GEJALA,KLUSTER
0,2021-01-01,BK G-6 BLOK KENARI TAMAN WIRAJAYA KUARTERS PEN...,Kajang,MALAYSIA,8.10805E+11,2020-12-29,Positif,SARINGAN KONTAK RAPAT SUAMI,NaN,NaN,SARINGAN KONTAK RAPAT SUAMI
1,2021-01-01,BK G-6 BLOK KENARI TAMAN WIRAJAYA KUARTERS PEN...,Kajang,MALAYSIA,1.81117E+11,2020-12-29,Positif,SARINGAN KONTAK RAPAT,NaN,NaN,SARINGAN KONTAK RAPAT
2,2021-01-01,"no.25, jln nusa tropika 2, tmn nusa, 68000 ampang",Ampang,MALAYSIA,5.90323E+11,2020-12-29,Positif,SARINGAN BERGEJALA ( KERJA DI KENANGA WHOLESAL...,NaN,NaN,SARINGAN BERGEJALA ( KERJA DI KENANGA WHOLESAL...
3,2021-01-01,"no.25, jln nusa tropika 2, tmn nusa, 68000 ampang",Ampang,MALAYSIA,6.20709E+11,2020-12-29,Positif,SARINGAN BERGEJALA,NaN,NaN,SARINGAN BERGEJALA
4,2021-01-01,"B2-01-08 Pandan Court, Jalan Mewah 4, Pandan M...",Ampang,MALAYSIA,9.00109E+11,2020-12-29,Positif,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
14920,2021-04-26,"NO11. JLN RAKAN 11, SUNGAI LONG, KAJANG",Kajang,MALAYSIA,8.40506E+11,2021-04-20,Positif,NaN,NaN,NaN,NaN
14921,2021-04-26,"3, JALAN AMAN 3, TAMAN SRI AMAN , CHERAS SELANGOR",Cheras,MALAYSIA,8.90521E+11,2021-04-20,Positif,NaN,NaN,NaN,NaN
14922,2021-04-26,"NO.3 TAMANIMUDA, 43200 CHERAS, SELANGOR",Cheras,MALAYSIA,2.80511E+11,2021-04-20,Positif,NaN,NaN,NaN,NaN
14923,2021-04-26,"SA-B7-,SRI AYU BLOK 7, BANDAR BARU BANGI",Kajang,BWN,C4474507,2021-04-25,Positif,BERGEJALA,SONY,NaN,NaN
14924,2021-04-26,"BO FOONG METAL SDN BHD LOT 5198, KAWASAN PERIN...",Cheras,BWN,MC548142,2021-04-24,Positif,NaN,NaN,NaN,NaN

In [29]:
#drop column kluster, not needed anymore

df.drop('KLUSTER', axis=1, inplace=True)

In [30]:
df

,TARIKH,ALAMAT,MUKIM,WARGANEGARA,IC/PASSPORT,TARIKH KEPUTUSAN UJIAN,KEPUTUSAN,SARINGAN,TEMPAT KERJA,GEJALA
0,2021-01-01,BK G-6 BLOK KENARI TAMAN WIRAJAYA KUARTERS PEN...,Kajang,MALAYSIA,8.10805E+11,2020-12-29,Positif,SARINGAN KONTAK RAPAT SUAMI,NaN,NaN
1,2021-01-01,BK G-6 BLOK KENARI TAMAN WIRAJAYA KUARTERS PEN...,Kajang,MALAYSIA,1.81117E+11,2020-12-29,Positif,SARINGAN KONTAK RAPAT,NaN,NaN
2,2021-01-01,"no.25, jln nusa tropika 2, tmn nusa, 68000 ampang",Ampang,MALAYSIA,5.90323E+11,2020-12-29,Positif,SARINGAN BERGEJALA ( KERJA DI KENANGA WHOLESAL...,NaN,NaN
3,2021-01-01,"no.25, jln nusa tropika 2, tmn nusa, 68000 ampang",Ampang,MALAYSIA,6.20709E+11,2020-12-29,Positif,SARINGAN BERGEJALA,NaN,NaN
4,2021-01-01,"B2-01-08 Pandan Court, Jalan Mewah 4, Pandan M...",Ampang,MALAYSIA,9.00109E+11,2020-12-29,Positif,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
14920,2021-04-26,"NO11. JLN RAKAN 11, SUNGAI LONG, KAJANG",Kajang,MALAYSIA,8.40506E+11,2021-04-20,Positif,NaN,NaN,NaN
14921,2021-04-26,"3, JALAN AMAN 3, TAMAN SRI AMAN , CHERAS SELANGOR",Cheras,MALAYSIA,8.90521E+11,2021-04-20,Positif,NaN,NaN,NaN
14922,2021-04-26,"NO.3 TAMANIMUDA, 43200 CHERAS, SELANGOR",Cheras,MALAYSIA,2.80511E+11,2021-04-20,Positif,NaN,NaN,NaN
14923,2021-04-26,"SA-B7-,SRI AYU BLOK 7, BANDAR BARU BANGI",Kajang,BWN,C4474507,2021-04-25,Positif,BERGEJALA,SONY,NaN
14924,2021-04-26,"BO FOONG METAL SDN BHD LOT 5198, KAWASAN PERIN...",Cheras,BWN,MC548142,2021-04-24,Positif,NaN,NaN,NaN

In [31]:
#clean saringan columnn 

unique_values = df['SARINGAN'].unique()
print(unique_values)

['SARINGAN KONTAK RAPAT SUAMI' 'SARINGAN KONTAK RAPAT '
 'SARINGAN BERGEJALA ( KERJA DI KENANGA WHOLESALE KL) . GYM ?' ...
 'KES LAMA SARINGAN MASUK TAPAK BINA' 'KONTAK RAPAT' 'MASUK SITE BARU']

In [32]:
df['SARINGAN'].value_counts()

> 24 HARI                        1289
SARINGAN KONTAK RAPAT            1203
KLUSTER PENJARA JALAN HARAPAN     329
KILANG  3V                        262
CTC                               255
                                 ...
 ST Rosyam Mart Sdn Bhd             1
JALAN 11                            1
KILANG DUOPHARMA                    1
electrican di TNB Bangsar           1
MASUK SITE BARU                     1
Name: SARINGAN, Length: 1701, dtype: int64

In [36]:
df['SARINGAN'].value_counts()

> 24 HARI                        1289
SARINGAN KONTAK RAPAT            1203
KLUSTER PENJARA JALAN HARAPAN     329
KILANG  3V                        262
CTC                               255
                                 ...
 ST Rosyam Mart Sdn Bhd             1
JALAN 11                            1
KILANG DUOPHARMA                    1
electrican di TNB Bangsar           1
MASUK SITE BARU                     1
Name: SARINGAN, Length: 1701, dtype: int64

In [37]:
#saringan penjara kajang, penjara jalan harapan, banduan
df['SARINGAN'] = np.where(df['SARINGAN'].str.contains(r"PENAJRA KAJANG|KEMASUKKAN BARU|penjara|warden|harapan|banduan", case=False, na=False), 'Saringan Penjara', df['SARINGAN'])

#saringan kontak rapat
df['SARINGAN'] = np.where(df['SARINGAN'].str.contains(r"KONTAK EAPAT|KONTAKRAPAT|AMIRUL|AIMAN|HISHAM|SAFARAS|HAIZAM|HANISAH|SITI|ROSENIZA|HAKIM|HUSNA|AZWAN|GERALD|DANDYPACK|HANAFI|AMARUL|TAN|KHALIDAH|ELMY|HANAPI|KO TAK RAPAT|KONTAK RAPAY|CLOSE CONTACT|saringan kontak rapat|mak|kontak rapat", case=False, na=False), 'Saringan Kontak Rapat', df['SARINGAN'])

#saringan ctc
#CTC AS COVID TREATMENT CENTRE   
df['SARINGAN'] = np.where(df['SARINGAN'].str.contains(r"CTC", case=False, na=False), 'Saringan Covid Treatment Centre', df['SARINGAN'])

#saringan dalam negara
df['SARINGAN'] = np.where(df['SARINGAN'].str.contains(r"SEBELUM KE SARAWAK.|SARINGAN HENDAK KE SABAH|SARINGAN HENDAK KE SABAH|SARINGAN KE SARAWAL|SARINGAN PRA PENERBANGAN|AIR ASIA", case=False, na=False), 'Saringan Luar Negara', df['SARINGAN'])

#saringan luar negara
df['SARINGAN'] = np.where(df['SARINGAN'].str.contains(r"import A|BALIK KE CHINA|negara asal|BALIK INDIA|SARINGAN KE LUAR NEGARA", case=False, na=False), 'Saringan Luar Negara', df['SARINGAN'])

#saringan mahkamah
df['SARINGAN'] = np.where(df['SARINGAN'].str.contains(r"mahkamah", case=False, na=False), 'Saringan Mahkamah', df['SARINGAN'])

#saringan sekolah
df['SARINGAN'] = np.where(df['SARINGAN'].str.contains(r"SJK|Pasti As Syakirin|IPG|SJKC|Persatuan Kanak-kanak Istimewa|SRKJC|UniKL|Univ|MADRASAH|Sekolah|Tadika|Tabika|Institut|Sk|SMK|SM|Taska|Kolej|UKM|UPM|Universiti|SEK|keb|KAFA|Guru Kafa|SK2|LITTLE CALIPH|school|RENDAH ISLAM|College|Pensyarah|Guru|PTS Beranang|PUSAT TEKNOLOGI MAKLUMAT|PEMTADBIR|sn htmizan|tutor|POLITEKNIK|KUIS", case=False, na=False), 'Saringan Pusat Pengajian', df['SARINGAN'])

#BERGEJALA AS GEJALA
#saringan bergejala
df['SARINGAN'] = np.where(df['SARINGAN'].str.contains(r"BERGEJLA|Saringan bergejala|bergejala", case=False, na=False), 'Saringan Bergejala', df['SARINGAN'])

#saringan hospital
#hcw = health care worker
df['SARINGAN'] = np.where(df['SARINGAN'].str.contains(r"DR WANI|PRA PEMBEDAHAN|CARE CENTRE|KESIHATAN|PRE PEMBEDAHAN|PKD CHERAS|DENTAL SURGERY|RADICARE|SUNTEX|dialisis|dialysis|Poliklinik|jururawat|nurse|Hospital|HOSP|farmasi|fisioterapi|KPJ|Medical|Institut Jantung negara|Anaesthesiology|WAD|Pembantu Kesihatan|PPV|HCW|Klinik|Pegawai Perubatan|HKL|HKJ|IKN|HPJ|PKDHL|MUC", case=False, na=False), 'Saringan Hospital', df['SARINGAN'])

#saringan pusat beli belah
df['SARINGAN'] = np.where(df['SARINGAN'].str.contains(r"Scott  Garden|Scott Garden|Vp Racing|Warung barokah|Eko Cheras|Jalan Bunga Pekan|Pusat Bandar Sri Gombak|etika beverages|SATE SAMURI|Kompleks Maluri|SUPERMART|AB MAURI|PERSIARAN JAYA|Venetian Restaurant|CONNAUGHT AVENUE|sunway pyramid|IKEA|BAKERY|Midvalley KL|SALON EL|Aquaria KLCC|PLAZA VADS|Nadi Bangsar|EyesBrighter|BERJAYA TIMES SQUARE|MCDONALD|Restoran|SUNWAY VELOCITY.|PASARAYA CS|PWTC|The Mines Wonderland.|mall|AEON|DIY|MR DIY|COLD STORANGE|SPEEDMART|99SpeedMart|Tesco|NU Sentral|Pasar Pudu|ECONSAVE|IOI|NSK|GIANT|SATE HJ SAMURI|PAVILION|SUPERMARKET|JY FRESH FRUITS & VEGETABLES|MY TOWN|Bakersfarm|kedai runcit|kedai|Freshmart|Jakel|Fahrenheit88|ARIANI|GERAI|peniaga|MZ Catering|PETRON|Central Market|PUSAT PAKAIAN|Clothing", case=False, na=False), 'Saringan Pusat Perniagaan', df['SARINGAN'])

#saringan perumahan
df['SARINGAN'] = np.where(df['SARINGAN'].str.contains(r"JALAN YOUCITY|CANOPY HILLS|YAYASAN SUNBEAMS HOME|BALAKONG SATU|KES PINDAH|JALAN 11|KLUSTER JALAN|PINDAH|KLUSTER INDUSTRI CHERAS JAYA|KLUSTER", case=False, na=False), 'Saringan Perumahan', df['SARINGAN'])

#saringan meninggal
df['SARINGAN'] = np.where(df['SARINGAN'].str.contains(r"MENINGGAL DUNIA|MATI", case=False, na=False), 'Saringan Kematian', df['SARINGAN'])


#saringan tempat kerja
df['SARINGAN'] = np.where(df['SARINGAN'].str.contains(r"ALAM FLORA|Meditech Glove|CONVEX|MALAYSIAN GAZZETE|AIA SHAMELIN|LKIM|Multi Electrical|PLUSS MALAYSIA|CXY INFINITE|Safety Auto S/B|UTC Kuala Lumpur|Indah Express|MAYFLOWER CAR RENTAL|agen insuran|Jeff Leong Poon & Wong|Rhikal builders|Kuari|SCOOT GUARDIAN|CLUB SOLARIS|freelance model|CSH MARKETING|CROWN CLUB|LALAMOVE|TENTERA KEM DARAT|MOBILE TO GO|GEMBIRA AVENUE|Arkib Negara Malaysia|Dataran Prima|MEKAR SUBUR RESOURCES|Plaza See Hoy Chan|Fllavaco|MUDA PAPER|DUNHAM BUSH|SETIA PRECAST|HEXTON|WIPRO|ECOHILL|ARISEN|ZEITO|SB TAPE|SB|LB ALUMINIUM|EXPERT METAL|ASAHI|EVERGROW|FURNITURE|SCP|FRENCKEN|DEPOH MAZHAR|PRECISION|ASIA FORCE|SHOP|STARSTREAM|PTP PWK|WHOLESALE|DENSO|CHAN SOWLIN|CONFECTIONERY|ejen hartanah|Corps|TANNAND|DYNAMIC STAINLESS|Putrajaya|HIRRS MARKETING|Shang Parlour|NICHOM STEEL|CHINA COMMUNICATION|LLM MARKETING|LUXVAR|FIRST Technology Asia|HP|IT Company|Astro|insurans|Lian Hub diecutting|BERNAMA UXERA|JURUBEKAM|mycome Motor Trading|MPKJ|TOP GLOVE|BREITCOM|fsz motor|NXP SEMICONDUCTOR MALAYSIA|KOMPEKS DATA SHREED|UMMI WALID RESOURCES|Selia Group|YMCA|Construction|SHINETSU|Plaza Sentral KL Sentral|Lembaga Juruukur Tanah|PAPER MILLS|Mekanik|AMPERIOR LEXIS KL|Dunham-Bush|SONY|Berjaya Group|KWSP|KLIA|PROPERTY AGENT|MOUNT KIARA|BANGSAR SOUTH|SDN.BHD|Y & L Metal Component|PENTERNAK IKAN|TYREPLUS CHIA AUTO CENTRE| Kementerian Pengajian Tinggi Malaysia..|ENGINEER|ART DESIGN|TEXAS INSTRUMENT|MyEG|MONSTR CONFECTIONARY|Kementerian Pengajian Tinggi Putrajaya|APM ENGINEERING|GT MED|PUSAT PENGAJIAN QURAN|Food Operation|99 speed mart|Kementerian Perdagangan Awam|RHB|WOBY BRIDAL|China Harbour Engineering|QR Industry|KW Loh & Associates|PERNIAGAAN SENG HUAC LEMBAH|Sdn. Bhd|Air-Conditioning|SING MING CHONG|Mvision Optical Industry|VERTICAL BANGSAR SOUTH|HSS ENGINEER BHD|PAVILLION|Q CELLS|Glades guppy|LADANG|Kilang|FACTORY|KERJA|KURSUS|Tapak Bina|tapak binaan|Site|Sdn Bhd|Works|industries|Dispatch|JKM KL|JABATAN KEBAJIKAN MASYARAKAT|ACRE WOKRS|MAJLIS PEPERIKSAAN MALAYSIA|INC|sdN bhD|Takaful|IPD|Polis|Cleaner|Bank|Menara|Nichicon|HOTEL|LHDN|CADDY|ASIA BOLTS|Meditop|JURUBAHASA|GRABFOOD|Mc Delivery|GRAB|DHL|poslaju|POS MALAYSIA|J&T|DHL|Imperial Lexis|Syarikat|LPS TROPIKANA LIFE|Kompleks Kraf|Huawei|samsung|welder|pejabat|Telekom|1634-KG|Accenture Malaysia|the st regis KL|ZALORA|TNB|BERHAD|PEREKA GRAFIK|LHDNM|PERODUA|PROTON|TOYOTA|FOCUS POINT|Hartalega|Tenaga Nasional Berhad|NINJA VAN|KPDNHEP|3V|HSBC|BANGUNAN KWSP|PERKESO PUTRAJAYA|JURUTERA|OFFSHORE|security guard|Security|Housekeeping|Tukang Masak|foremen|PENGASUH|Retail Executive|DRIVER|pemandu|paper boxes|DXC CYBERJAYA|VIN ART|JPN|GDex|Keenth partnership|Corporation|FIZ REALTY SOLUTION|ENTERPRISE|Enterprise|Agrobank|LEMBAGA LEBUHRAYA|pustakawan|ANGGOTA|MARDI|PEGAWAI UNIT MEDIA DAN GRAFIK|MITI|Tukang masak|HITECH|CHURCH MEMBER|sun hup|Pembantu Dapur|Wisma|Petronas|Office|DEWAN BAHASA DAN PUSTAKA|Services|Malaysian Green Technology|Housemaid|Consultant|SP SETIA|PEMBANTU RUMAH|Beautician|YADIM|KATERER|KEM TENTERA|HSS ENGINEERING|JFONG AND ASSOCIATE|pekebun|Lan Auto|AUDIT FIRM|TRISIN MANUFACTURING|Duopharma|DBKL|Hotel Uptown|MAYBANK|PTPTN|MITSUBISHI|Advance Enginerring|FREE TRADE ZONE|TRX|EMBASSY|26&28|S.Y.C Creation|Maxis|Industrial|KASTAM|Suite|Lebuhraya|kurier|FACILITIES|Incubator|TM|Citarasa Milenium|HYT Management|Corporate", case=False, na=False), 'Saringan Tempat Kerja', df['SARINGAN'])


#saringan lain2
df['SARINGAN'] = np.where(df['SARINGAN'].str.contains(r"TAMAT KUARANTIN|SIASAT|GAGAL DIHUBUNGI|PROBABLE|TIDAK DAPAT|X DPT|NEGATIF|SIASATAN|BELUM SIASAT|DUPLICATE|PERNAH POSITIF|X DPT CALL|la|X ANGKAT FON|X DPT CONTACT|DISCAJ-1/2/2021", case=False, na=False), 'Saringan Lain', df['SARINGAN'])

    
#saringan warga dtis 
df['SARINGAN'] = np.where(df['SARINGAN'].str.contains(r"dtis|DEPOT IMIGRESEN SEMENYIH|depot", case=False, na=False), 'Saringan Depot Imigresen Semenyih', df['SARINGAN'])


#saringan lebih 10 hari 
df['SARINGAN'] = np.where(df['SARINGAN'].str.contains(r"10 HARI|10 DAYS", case=False, na=False), 'Saringan Lebih 10 hari', df['SARINGAN'])

#saringan lebih 24 hari 
df['SARINGAN'] = np.where(df['SARINGAN'].str.contains(r"> 24 HARI|OLD CASE", case=False, na=False), 'Saringan Lebih 24 hari', df['SARINGAN'])



#df.loc[df['SARINGAN'].isin(['SARINGAN KONTAK RAPAT', ' SARINGAN KONTAK RAPAT', 'saringan kontak rapat', 'SARINGAN KONTAK EAPAT', 'KONTAK RAPAT']), 'SARINGAN'] = 'Saringan Depot Tahanan Imigresen Semenyih'

In [38]:
df['SARINGAN'].value_counts()

Saringan Tempat Kerja                2300
Saringan Kontak Rapat                1663
Saringan Lebih 24 hari               1303
Saringan Perumahan                    794
Saringan Penjara                      573
Saringan Pusat Pengajian              466
Saringan Pusat Perniagaan             407
Saringan Lain                         342
Saringan Lebih 10 hari                306
Saringan Hospital                     124
Saringan Luar Negara                   49
Saringan Depot Imigresen Semenyih      14
4                                      14
3                                      13
2                                      12
1                                      11
Saringan Kematian                      11
5                                       9
6                                       8
7                                       3
8                                       3
9                                       3
10                                      3
Saringan Mahkamah                       1
Name: SARINGAN, dtype: int64

In [39]:
df = df[~df['SARINGAN'].astype(str).str.contains(r'\d')]

In [40]:
df['SARINGAN'].value_counts()

Saringan Tempat Kerja                2300
Saringan Kontak Rapat                1663
Saringan Perumahan                    794
Saringan Penjara                      573
Saringan Pusat Pengajian              466
Saringan Pusat Perniagaan             407
Saringan Lain                         342
Saringan Hospital                     124
Saringan Luar Negara                   49
Saringan Depot Imigresen Semenyih      14
Saringan Kematian                      11
Saringan Mahkamah                       1
Name: SARINGAN, dtype: int64

In [41]:
df

,TARIKH,ALAMAT,MUKIM,WARGANEGARA,IC/PASSPORT,TARIKH KEPUTUSAN UJIAN,KEPUTUSAN,SARINGAN,TEMPAT KERJA,GEJALA
0,2021-01-01,BK G-6 BLOK KENARI TAMAN WIRAJAYA KUARTERS PEN...,Kajang,MALAYSIA,8.10805E+11,2020-12-29,Positif,Saringan Kontak Rapat,NaN,NaN
1,2021-01-01,BK G-6 BLOK KENARI TAMAN WIRAJAYA KUARTERS PEN...,Kajang,MALAYSIA,1.81117E+11,2020-12-29,Positif,Saringan Kontak Rapat,NaN,NaN
2,2021-01-01,"no.25, jln nusa tropika 2, tmn nusa, 68000 ampang",Ampang,MALAYSIA,5.90323E+11,2020-12-29,Positif,Saringan Lain,NaN,NaN
3,2021-01-01,"no.25, jln nusa tropika 2, tmn nusa, 68000 ampang",Ampang,MALAYSIA,6.20709E+11,2020-12-29,Positif,Saringan Lain,NaN,NaN
4,2021-01-01,"B2-01-08 Pandan Court, Jalan Mewah 4, Pandan M...",Ampang,MALAYSIA,9.00109E+11,2020-12-29,Positif,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
14920,2021-04-26,"NO11. JLN RAKAN 11, SUNGAI LONG, KAJANG",Kajang,MALAYSIA,8.40506E+11,2021-04-20,Positif,NaN,NaN,NaN
14921,2021-04-26,"3, JALAN AMAN 3, TAMAN SRI AMAN , CHERAS SELANGOR",Cheras,MALAYSIA,8.90521E+11,2021-04-20,Positif,NaN,NaN,NaN
14922,2021-04-26,"NO.3 TAMANIMUDA, 43200 CHERAS, SELANGOR",Cheras,MALAYSIA,2.80511E+11,2021-04-20,Positif,NaN,NaN,NaN
14923,2021-04-26,"SA-B7-,SRI AYU BLOK 7, BANDAR BARU BANGI",Kajang,BWN,C4474507,2021-04-25,Positif,Saringan Lain,SONY,NaN
14924,2021-04-26,"BO FOONG METAL SDN BHD LOT 5198, KAWASAN PERIN...",Cheras,BWN,MC548142,2021-04-24,Positif,NaN,NaN,NaN

In [42]:
#clean tempat kerja
df['TEMPAT KERJA'].value_counts()

TIDAK BEKERJA                                                                                                                                                                                       106
AKADEMI LEMBAH ILMU                                                                                                                                                                                  38
SURI RUMAH                                                                                                                                                                                           20
PENJARA KAJANG                                                                                                                                                                                       19
PENAJRA KAJANG                                                                                                                                                                                       11
                                                                                                                                                                                                   ...
JURUGABAR                                                                                                                                                                                             1
UCSI Heights, 1, Jalan Puncak Menara Gading, Taman Connaught, 56000 Cheras, Wilayah Persekutuan Kuala Lumpur.                                                                                         1
Pengurus Restaurant di  Sakana Japanese Dining, G11, Ground Floor Suria Klcc @ Sushi Hibiki Lot B1-04(A), Basement 1 Shoppes At Four Seasons Place Kl No, 145, Jalan Ampang, 50450 Kuala Lumpur.      1
supervisor di Camry Packaging Industrial Sdn. Bhd. 4, Jalan P/5, Kawasan Perindustrian Bangi, 43650 Bandar Baru Bangi                                                                                 1
WHITEX GARMENT SDN BHD                                                                                                                                                                                1
Name: TEMPAT KERJA, Length: 334, dtype: int64

In [43]:
df['TEMPAT KERJA'] = np.where(df['TEMPAT KERJA'].str.contains(r"PESARA|TIDAK BEKERJA", case=False, na=False), 'Tidak Bekerja', df['TEMPAT KERJA'])
#df['TEMPAT KERJA'].fillna('Tidak Bekerja', inplace=True)

In [44]:
df.loc[df['TEMPAT KERJA'].notnull() & (df['TEMPAT KERJA'] != 'Tidak Bekerja'), 'TEMPAT KERJA'] = 'Bekerja'

In [45]:
df['TEMPAT KERJA'].value_counts()

Bekerja          475
Tidak Bekerja    113
Name: TEMPAT KERJA, dtype: int64

In [46]:
df

,TARIKH,ALAMAT,MUKIM,WARGANEGARA,IC/PASSPORT,TARIKH KEPUTUSAN UJIAN,KEPUTUSAN,SARINGAN,TEMPAT KERJA,GEJALA
0,2021-01-01,BK G-6 BLOK KENARI TAMAN WIRAJAYA KUARTERS PEN...,Kajang,MALAYSIA,8.10805E+11,2020-12-29,Positif,Saringan Kontak Rapat,NaN,NaN
1,2021-01-01,BK G-6 BLOK KENARI TAMAN WIRAJAYA KUARTERS PEN...,Kajang,MALAYSIA,1.81117E+11,2020-12-29,Positif,Saringan Kontak Rapat,NaN,NaN
2,2021-01-01,"no.25, jln nusa tropika 2, tmn nusa, 68000 ampang",Ampang,MALAYSIA,5.90323E+11,2020-12-29,Positif,Saringan Lain,NaN,NaN
3,2021-01-01,"no.25, jln nusa tropika 2, tmn nusa, 68000 ampang",Ampang,MALAYSIA,6.20709E+11,2020-12-29,Positif,Saringan Lain,NaN,NaN
4,2021-01-01,"B2-01-08 Pandan Court, Jalan Mewah 4, Pandan M...",Ampang,MALAYSIA,9.00109E+11,2020-12-29,Positif,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
14920,2021-04-26,"NO11. JLN RAKAN 11, SUNGAI LONG, KAJANG",Kajang,MALAYSIA,8.40506E+11,2021-04-20,Positif,NaN,NaN,NaN
14921,2021-04-26,"3, JALAN AMAN 3, TAMAN SRI AMAN , CHERAS SELANGOR",Cheras,MALAYSIA,8.90521E+11,2021-04-20,Positif,NaN,NaN,NaN
14922,2021-04-26,"NO.3 TAMANIMUDA, 43200 CHERAS, SELANGOR",Cheras,MALAYSIA,2.80511E+11,2021-04-20,Positif,NaN,NaN,NaN
14923,2021-04-26,"SA-B7-,SRI AYU BLOK 7, BANDAR BARU BANGI",Kajang,BWN,C4474507,2021-04-25,Positif,Saringan Lain,Bekerja,NaN
14924,2021-04-26,"BO FOONG METAL SDN BHD LOT 5198, KAWASAN PERIN...",Cheras,BWN,MC548142,2021-04-24,Positif,NaN,NaN,NaN

In [47]:
#clean gejala
df['GEJALA'].value_counts()

YA       225
TIADA    213
TIDAK    114
TIAD       2
BATUK      1
DEMAM      1
Name: GEJALA, dtype: int64

In [48]:
#gejala cat1
df['GEJALA'] = np.where(df['GEJALA'].str.contains(r"YA|BATUK|DEMAM", case=False, na=False), 'CAT 1', df['GEJALA'])

#gejala cat1
df['GEJALA'] = np.where(df['GEJALA'].str.contains(r"TIADA|TIDAK|TIAD", case=False, na=False), 'Unknown', df['GEJALA'])

In [49]:
#clean gejala
df['GEJALA'].value_counts()

Unknown    329
CAT 1      227
Name: GEJALA, dtype: int64

In [50]:
#clean gejala
df['GEJALA'].value_counts()

Unknown    329
CAT 1      227
Name: GEJALA, dtype: int64

In [51]:
df

,TARIKH,ALAMAT,MUKIM,WARGANEGARA,IC/PASSPORT,TARIKH KEPUTUSAN UJIAN,KEPUTUSAN,SARINGAN,TEMPAT KERJA,GEJALA
0,2021-01-01,BK G-6 BLOK KENARI TAMAN WIRAJAYA KUARTERS PEN...,Kajang,MALAYSIA,8.10805E+11,2020-12-29,Positif,Saringan Kontak Rapat,NaN,NaN
1,2021-01-01,BK G-6 BLOK KENARI TAMAN WIRAJAYA KUARTERS PEN...,Kajang,MALAYSIA,1.81117E+11,2020-12-29,Positif,Saringan Kontak Rapat,NaN,NaN
2,2021-01-01,"no.25, jln nusa tropika 2, tmn nusa, 68000 ampang",Ampang,MALAYSIA,5.90323E+11,2020-12-29,Positif,Saringan Lain,NaN,NaN
3,2021-01-01,"no.25, jln nusa tropika 2, tmn nusa, 68000 ampang",Ampang,MALAYSIA,6.20709E+11,2020-12-29,Positif,Saringan Lain,NaN,NaN
4,2021-01-01,"B2-01-08 Pandan Court, Jalan Mewah 4, Pandan M...",Ampang,MALAYSIA,9.00109E+11,2020-12-29,Positif,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
14920,2021-04-26,"NO11. JLN RAKAN 11, SUNGAI LONG, KAJANG",Kajang,MALAYSIA,8.40506E+11,2021-04-20,Positif,NaN,NaN,NaN
14921,2021-04-26,"3, JALAN AMAN 3, TAMAN SRI AMAN , CHERAS SELANGOR",Cheras,MALAYSIA,8.90521E+11,2021-04-20,Positif,NaN,NaN,NaN
14922,2021-04-26,"NO.3 TAMANIMUDA, 43200 CHERAS, SELANGOR",Cheras,MALAYSIA,2.80511E+11,2021-04-20,Positif,NaN,NaN,NaN
14923,2021-04-26,"SA-B7-,SRI AYU BLOK 7, BANDAR BARU BANGI",Kajang,BWN,C4474507,2021-04-25,Positif,Saringan Lain,Bekerja,NaN
14924,2021-04-26,"BO FOONG METAL SDN BHD LOT 5198, KAWASAN PERIN...",Cheras,BWN,MC548142,2021-04-24,Positif,NaN,NaN,NaN

In [52]:
#clean warganegara
df['WARGANEGARA'].value_counts()

MALAYSIA        6180
WARGANEGARA     1837
BWN             1371
BANGLADESH       681
NEPAL            206
                ...
011-36732627       1
 BANGLADESH        1
011-62296599       1
013-3378361        1
011-57052386       1
Name: WARGANEGARA, Length: 65, dtype: int64

In [53]:
replace_values = ['myanmar', 'myammar', 'MYANMAR' , ' Myanmar', 
                  'myanmmar', 'myanma', ' myanmar', 'MYAMMAR',
                  'MYANMMAR', 'Myanmar', 'Myanma',
                  'bangladesh', 'Bangladesh', 'bwn', 'BWN', 'BGD', 'bangladesh ', 
                  'BANGALADESH', ' BANGLADESH', 'BANGLADESH ',
                  ' bangladesh', 'bangaladesh', 'bangladeshi', 'Bangladesh',
                  'BANGLADESH', 'bgd', 'Bangaladesh', 'BANGLADESHI',
                  ' Filipina', 'filipina', ' filipina', 'philippines', 
                  'philip', 'PHILIP', 'FILIPINA',
                  ' Indonesia',  'indonesia', 'indonesian', 'indonesian ', 
                  ' indonesia', 'INDONESIA', 'INDONESIAN ', 'Indonesia',
                  ' INDONESIAN', 'INDONESIAN',
                  'china', 'CHINA', 
                  'nigeria', 'Nigeria',  'NIGERIA', 
                  'thailand', 'THAILAND',
                  'vietnam', 'cambodian', 'kemboja', 'VIETNAM', 'CAMBODIAN',
                  'KEMBOJA', 
                  'morocco', 'MOROCCO',
                  'lao pdr',  'LAO PDR',
                  'nepalese', 'bwn (nepal)', 'burmese', 'nepal', 'india', 'INDIA',
                  'BWN (NEPAL)', 'BURMESE', 'NEPAL', 'Nepal', 'NEPALESE',
                  'sri lanka', 'pakistan', 'pakistan', 'PAKISTAN', 'Sri Lanka',
                  'non-malaysian',  
                  'PHILIPPINES', 'NON-MALAYSIAN'  ]
df['WARGANEGARA'] = df['WARGANEGARA'].replace(replace_values, 'Bukan Warganegara')

In [54]:
# Define the values to replace and the new value
values_to_replace = ['malaysia', ' malaysian', 'malaysia ', 'malaysian', 'Malaysia', 
                     ' Malaysian', 'MALAYSIA ', 'MALAYSIA', 'malysia ', 'malaydia',
                     'MALAYSIAN', ' Malaysian', ' malaysian', 'malaysia', 'Malaysian',
                     'MELAYU', 'BERANANG', 'AMPANG', 'KAJANG', 'WARGANEGARA',
                     'MalAYSIA', 'MALYSIA ',
                     
                     'unavailable', 'ampang', 'warganegara', 'SEMENYIH', 
                     'cina', 'CINA', 'melayu', 'semenyih ', 'hulu langat', 
                     'cheras', 'kajang', 'semenyih', 'beranang', 'HULU LANGAT', 'CHERAS' ]


df['WARGANEGARA'] = df['WARGANEGARA'].replace(values_to_replace, 'Warganegara')

In [55]:
print(df['WARGANEGARA'].value_counts())

Warganegara          8333
Bukan Warganegara    3057
011-21191446            2
010-9412154             1
018-7673774             1
011-26519350            1
011-62296599            1
011-36732627            1
011-216911745           1
011-57052386            1
017-9850765             1
011-17049788            1
011-39065054            1
011-37019093            1
016-6280632             1
018-9180481             1
016-4554056             1
011-21180149            1
011-26121819            1
011-27842644            1
010-2006485             1
014-3943067             1
013-3378361             1
Name: WARGANEGARA, dtype: int64

In [56]:
valid_categories = ['Warganegara', 'Bukan Warganegara']
df = df[df['WARGANEGARA'].isin(valid_categories)]

In [57]:
print(df['WARGANEGARA'].value_counts())

Warganegara          8333
Bukan Warganegara    3057
Name: WARGANEGARA, dtype: int64

In [58]:
df

,TARIKH,ALAMAT,MUKIM,WARGANEGARA,IC/PASSPORT,TARIKH KEPUTUSAN UJIAN,KEPUTUSAN,SARINGAN,TEMPAT KERJA,GEJALA
0,2021-01-01,BK G-6 BLOK KENARI TAMAN WIRAJAYA KUARTERS PEN...,Kajang,Warganegara,8.10805E+11,2020-12-29,Positif,Saringan Kontak Rapat,NaN,NaN
1,2021-01-01,BK G-6 BLOK KENARI TAMAN WIRAJAYA KUARTERS PEN...,Kajang,Warganegara,1.81117E+11,2020-12-29,Positif,Saringan Kontak Rapat,NaN,NaN
2,2021-01-01,"no.25, jln nusa tropika 2, tmn nusa, 68000 ampang",Ampang,Warganegara,5.90323E+11,2020-12-29,Positif,Saringan Lain,NaN,NaN
3,2021-01-01,"no.25, jln nusa tropika 2, tmn nusa, 68000 ampang",Ampang,Warganegara,6.20709E+11,2020-12-29,Positif,Saringan Lain,NaN,NaN
4,2021-01-01,"B2-01-08 Pandan Court, Jalan Mewah 4, Pandan M...",Ampang,Warganegara,9.00109E+11,2020-12-29,Positif,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
14920,2021-04-26,"NO11. JLN RAKAN 11, SUNGAI LONG, KAJANG",Kajang,Warganegara,8.40506E+11,2021-04-20,Positif,NaN,NaN,NaN
14921,2021-04-26,"3, JALAN AMAN 3, TAMAN SRI AMAN , CHERAS SELANGOR",Cheras,Warganegara,8.90521E+11,2021-04-20,Positif,NaN,NaN,NaN
14922,2021-04-26,"NO.3 TAMANIMUDA, 43200 CHERAS, SELANGOR",Cheras,Warganegara,2.80511E+11,2021-04-20,Positif,NaN,NaN,NaN
14923,2021-04-26,"SA-B7-,SRI AYU BLOK 7, BANDAR BARU BANGI",Kajang,Bukan Warganegara,C4474507,2021-04-25,Positif,Saringan Lain,Bekerja,NaN
14924,2021-04-26,"BO FOONG METAL SDN BHD LOT 5198, KAWASAN PERIN...",Cheras,Bukan Warganegara,MC548142,2021-04-24,Positif,NaN,NaN,NaN

In [59]:
df['ALAMAT'] = df['ALAMAT'].str.capitalize()

In [60]:
df

,TARIKH,ALAMAT,MUKIM,WARGANEGARA,IC/PASSPORT,TARIKH KEPUTUSAN UJIAN,KEPUTUSAN,SARINGAN,TEMPAT KERJA,GEJALA
0,2021-01-01,Bk g-6 blok kenari taman wirajaya kuarters pen...,Kajang,Warganegara,8.10805E+11,2020-12-29,Positif,Saringan Kontak Rapat,NaN,NaN
1,2021-01-01,Bk g-6 blok kenari taman wirajaya kuarters pen...,Kajang,Warganegara,1.81117E+11,2020-12-29,Positif,Saringan Kontak Rapat,NaN,NaN
2,2021-01-01,"No.25, jln nusa tropika 2, tmn nusa, 68000 ampang",Ampang,Warganegara,5.90323E+11,2020-12-29,Positif,Saringan Lain,NaN,NaN
3,2021-01-01,"No.25, jln nusa tropika 2, tmn nusa, 68000 ampang",Ampang,Warganegara,6.20709E+11,2020-12-29,Positif,Saringan Lain,NaN,NaN
4,2021-01-01,"B2-01-08 pandan court, jalan mewah 4, pandan m...",Ampang,Warganegara,9.00109E+11,2020-12-29,Positif,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
14920,2021-04-26,"No11. jln rakan 11, sungai long, kajang",Kajang,Warganegara,8.40506E+11,2021-04-20,Positif,NaN,NaN,NaN
14921,2021-04-26,"3, jalan aman 3, taman sri aman , cheras selangor",Cheras,Warganegara,8.90521E+11,2021-04-20,Positif,NaN,NaN,NaN
14922,2021-04-26,"No.3 tamanimuda, 43200 cheras, selangor",Cheras,Warganegara,2.80511E+11,2021-04-20,Positif,NaN,NaN,NaN
14923,2021-04-26,"Sa-b7-,sri ayu blok 7, bandar baru bangi",Kajang,Bukan Warganegara,C4474507,2021-04-25,Positif,Saringan Lain,Bekerja,NaN
14924,2021-04-26,"Bo foong metal sdn bhd lot 5198, kawasan perin...",Cheras,Bukan Warganegara,MC548142,2021-04-24,Positif,NaN,NaN,NaN

In [61]:
# create a dictionary of old column names and new column names
new_names = {'TARIKH': 'Tarikh',
             'ALAMAT': 'Alamat Kediaman', 
             'MUKIM': 'Mukim', 
             'WARGANEGARA': 'Warganegara',
             'IC/PASSPORT': 'IC/Passport',
             'TARIKH KEPUTUSAN UJIAN' :'Tarikh Keputusan Ujian',
            
             'KEPUTUSAN': 'Keputusan', 
             'SARINGAN': 'Saringan', 
             'TEMPAT KERJA': 'Alamat Tempat Kerja',
             'GEJALA' : 'Gejala'
          
            }

# rename the columns using rename() method
df = df.rename(columns=new_names)

df

,Tarikh,Alamat Kediaman,Mukim,Warganegara,IC/Passport,Tarikh Keputusan Ujian,Keputusan,Saringan,Alamat Tempat Kerja,Gejala
0,2021-01-01,Bk g-6 blok kenari taman wirajaya kuarters pen...,Kajang,Warganegara,8.10805E+11,2020-12-29,Positif,Saringan Kontak Rapat,NaN,NaN
1,2021-01-01,Bk g-6 blok kenari taman wirajaya kuarters pen...,Kajang,Warganegara,1.81117E+11,2020-12-29,Positif,Saringan Kontak Rapat,NaN,NaN
2,2021-01-01,"No.25, jln nusa tropika 2, tmn nusa, 68000 ampang",Ampang,Warganegara,5.90323E+11,2020-12-29,Positif,Saringan Lain,NaN,NaN
3,2021-01-01,"No.25, jln nusa tropika 2, tmn nusa, 68000 ampang",Ampang,Warganegara,6.20709E+11,2020-12-29,Positif,Saringan Lain,NaN,NaN
4,2021-01-01,"B2-01-08 pandan court, jalan mewah 4, pandan m...",Ampang,Warganegara,9.00109E+11,2020-12-29,Positif,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
14920,2021-04-26,"No11. jln rakan 11, sungai long, kajang",Kajang,Warganegara,8.40506E+11,2021-04-20,Positif,NaN,NaN,NaN
14921,2021-04-26,"3, jalan aman 3, taman sri aman , cheras selangor",Cheras,Warganegara,8.90521E+11,2021-04-20,Positif,NaN,NaN,NaN
14922,2021-04-26,"No.3 tamanimuda, 43200 cheras, selangor",Cheras,Warganegara,2.80511E+11,2021-04-20,Positif,NaN,NaN,NaN
14923,2021-04-26,"Sa-b7-,sri ayu blok 7, bandar baru bangi",Kajang,Bukan Warganegara,C4474507,2021-04-25,Positif,Saringan Lain,Bekerja,NaN
14924,2021-04-26,"Bo foong metal sdn bhd lot 5198, kawasan perin...",Cheras,Bukan Warganegara,MC548142,2021-04-24,Positif,NaN,NaN,NaN

In [62]:
# Check missing values
missing_values = df.isnull().sum()

# Print the count of missing values in each column
print("Missing Values:")
print(missing_values)

Missing Values:
Tarikh                        0
Alamat Kediaman               1
Mukim                         0
Warganegara                   0
IC/Passport                   1
Tarikh Keputusan Ujian      899
Keputusan                   349
Saringan                   4896
Alamat Tempat Kerja       10831
Gejala                    10863
dtype: int64

In [63]:
#clean saringan columnn 

unique_values = df['Tarikh'].unique()
print(unique_values)

['2021-01-01T00:00:00.000000000' '2021-01-05T00:00:00.000000000'
 '2021-01-08T00:00:00.000000000' '2021-01-10T00:00:00.000000000'
 '2021-01-11T00:00:00.000000000' '2021-01-12T00:00:00.000000000'
 '2021-01-13T00:00:00.000000000' '2021-01-14T00:00:00.000000000'
 '2021-01-15T00:00:00.000000000' '2021-01-16T00:00:00.000000000'
 '2021-01-23T00:00:00.000000000' '2021-01-24T00:00:00.000000000'
 '2021-01-26T00:00:00.000000000' '2021-01-27T00:00:00.000000000'
 '2021-01-28T00:00:00.000000000' '2021-01-29T00:00:00.000000000'
 '2021-01-30T00:00:00.000000000' '2021-01-31T00:00:00.000000000'
 '2021-02-01T00:00:00.000000000' '2021-02-02T00:00:00.000000000'
 '2021-02-03T00:00:00.000000000' '2021-02-04T00:00:00.000000000'
 '2021-02-05T00:00:00.000000000' '2021-02-06T00:00:00.000000000'
 '2021-02-07T00:00:00.000000000' '2021-02-08T00:00:00.000000000'
 '2021-02-09T00:00:00.000000000' '2021-02-10T00:00:00.000000000'
 '2021-02-11T00:00:00.000000000' '2021-02-12T00:00:00.000000000'
 '2021-02-13T00:00:00.000000000' '2021-02-14T00:00:00.000000000'
 '2021-02-15T00:00:00.000000000' '2021-02-16T00:00:00.000000000'
 '2021-02-17T00:00:00.000000000' '2021-02-18T00:00:00.000000000'
 '2021-02-19T00:00:00.000000000' '2021-02-20T00:00:00.000000000'
 '2021-02-21T00:00:00.000000000' '2021-02-22T00:00:00.000000000'
 '2021-02-23T00:00:00.000000000' '2021-02-24T00:00:00.000000000'
 '2021-02-25T00:00:00.000000000' '2021-02-26T00:00:00.000000000'
 '2021-02-27T00:00:00.000000000' '2021-02-28T00:00:00.000000000'
 '2021-03-01T00:00:00.000000000' '2021-03-02T00:00:00.000000000'
 '2021-03-03T00:00:00.000000000' '2021-03-04T00:00:00.000000000'
 '2021-03-05T00:00:00.000000000' '2021-03-06T00:00:00.000000000'
 '2021-03-07T00:00:00.000000000' '2021-03-08T00:00:00.000000000'
 '2021-03-09T00:00:00.000000000' '2021-03-10T00:00:00.000000000'
 '2021-03-11T00:00:00.000000000' '2021-03-12T00:00:00.000000000'
 '2021-03-13T00:00:00.000000000' '2021-03-14T00:00:00.000000000'
 '2021-03-15T00:00:00.000000000' '2021-03-16T00:00:00.000000000'
 '2021-03-17T00:00:00.000000000' '2021-03-18T00:00:00.000000000'
 '2021-03-19T00:00:00.000000000' '2021-03-20T00:00:00.000000000'
 '2021-03-21T00:00:00.000000000' '2021-03-22T00:00:00.000000000'
 '2021-03-23T00:00:00.000000000' '2021-03-24T00:00:00.000000000'
 '2021-03-25T00:00:00.000000000' '2021-03-26T00:00:00.000000000'
 '2021-03-27T00:00:00.000000000' '2021-03-28T00:00:00.000000000'
 '2021-03-29T00:00:00.000000000' '2021-03-30T00:00:00.000000000'
 '2021-03-31T00:00:00.000000000' '2021-04-01T00:00:00.000000000'
 '2021-04-02T00:00:00.000000000' '2021-04-03T00:00:00.000000000'
 '2021-04-04T00:00:00.000000000' '2021-04-05T00:00:00.000000000'
 '2021-04-06T00:00:00.000000000' '2021-04-07T00:00:00.000000000'
 '2021-04-08T00:00:00.000000000' '2021-04-09T00:00:00.000000000'
 '2021-04-10T00:00:00.000000000' '2021-04-11T00:00:00.000000000'
 '2021-04-12T00:00:00.000000000' '2021-04-13T00:00:00.000000000'
 '2021-04-14T00:00:00.000000000' '2021-04-15T00:00:00.000000000'
 '2021-04-16T00:00:00.000000000' '2021-04-17T00:00:00.000000000'
 '2021-04-18T00:00:00.000000000' '2021-04-19T00:00:00.000000000'
 '2021-04-20T00:00:00.000000000' '2021-04-21T00:00:00.000000000'
 '2021-04-22T00:00:00.000000000' '2021-04-23T00:00:00.000000000'
 '2021-04-24T00:00:00.000000000' '2021-04-25T00:00:00.000000000'
 '2021-04-26T00:00:00.000000000']

In [64]:
df.to_csv('FILE1CLEANED.csv', index=False)

In [65]:
#DONE CLEANING FILE 1