# CLEAN FILE 4

THE PURPOSE OF THIS FILE IS TO CLEAN EACH COLUMN IN FILE 4

1) CLEAN COLUMN TARIKH ISYTIHAR TO COMBINE WITH FILE COMBINE&VIZ


THIS FILE ARE USING CSV OF
1) Covidfile4sort.csv

THIS FILE GENERATE CSV OF
1) FILE4CLEANED.csv

In [1]:
import pandas as pd
import numpy as np
from dateutil.parser import parse
import re

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
#FILE 4

df4 = pd.read_csv("Covidfile4sort.csv")
df4

      Tarikh Isytihar  IC/Passport Status Kematian
0           25/3/2020   4.4111E+11            Mati
1           29/3/2020  6.20706E+11            Mati
2           28/3/2020  2.80617E+11            Mati
3           29/3/2020  4.30727E+11            Mati
4           27/3/2020  6.70407E+11            Mati
...               ...          ...             ...
10060       28/1/2022  5.70616E+11            Mati
10061       29/1/2022  5.30303E+11             BID
10062       31/1/2022  8.70427E+11            Mati
10063        1/2/2022  6.20809E+11            Mati
10064        1/2/2022  5.90616E+11            Mati

[10065 rows x 3 columns]

In [4]:

# Define the date patterns to match
date_patterns = [
    r"\d{1,2}/\d{1,2}/\d{4}",  # d/m/yyyy or dd/m/yyyy or dd/mm/yyyy
    r"\d{1,2}\s(?:JANUARI|FEBRUARI|MAC|APRIL|MEI|JUN|JULAI|OGOS|SEPTEMBER|OKTOBER|NOVEMBER|DISEMBER)\s\d{4}",  # d MONTH yyyy
    r"\d{1,2}-\w{3}-\d{2}",  # dd-Dec-yy
    r"\d{1,2}-\w{3}-\d{2}",  # dd-Dec-yy
]

# Filter the DataFrame to keep only valid date values
valid_dates = []
for value in df4["Tarikh Isytihar"]:
    if isinstance(value, str):
        for pattern in date_patterns:
            match = re.match(pattern, value)
            if match:
                valid_dates.append(match.group())
                break
        else:
            valid_dates.append(None)
    else:
        valid_dates.append(None)

df4["Tarikh Isytihar"] = valid_dates

# Drop rows with non-date values
df4.dropna(subset=["Tarikh Isytihar"], inplace=True)

# Convert the column to datetime format
df4["Tarikh Isytihar"] = pd.to_datetime(df4["Tarikh Isytihar"], format="%d/%m/%Y", errors="coerce")

# Reset the index if needed
df4.reset_index(drop=True, inplace=True)

# Display the remaining date values
print(df4["Tarikh Isytihar"])

0       2020-03-25
1       2020-03-29
2       2020-03-28
3       2020-03-29
4       2020-03-27
           ...
10060   2022-01-28
10061   2022-01-29
10062   2022-01-31
10063   2022-02-01
10064   2022-02-01
Name: Tarikh Isytihar, Length: 10065, dtype: datetime64[ns]

In [5]:
# Filter out all rows with a date from 2020
df4 = df4[df4['Tarikh Isytihar'].dt.year != 2020]

df4

      Tarikh Isytihar  IC/Passport Status Kematian
44         2021-01-01  2.61229E+11            Mati
45         2021-01-02  4.40414E+11            Mati
46         2021-01-02  5.40602E+11            Mati
47         2021-01-03  6.00815E+11            Mati
48         2021-01-01  4.80411E+11            Mati
...               ...          ...             ...
10060      2022-01-28  5.70616E+11            Mati
10061      2022-01-29  5.30303E+11             BID
10062      2022-01-31  8.70427E+11            Mati
10063      2022-02-01  6.20809E+11            Mati
10064      2022-02-01  5.90616E+11            Mati

[10020 rows x 3 columns]

In [6]:
# Filter out all rows with a date from 2020
df4 = df4[df4['Tarikh Isytihar'].dt.year != 2022]

df4

     Tarikh Isytihar  IC/Passport Status Kematian
44        2021-01-01  2.61229E+11            Mati
45        2021-01-02  4.40414E+11            Mati
46        2021-01-02  5.40602E+11            Mati
47        2021-01-03  6.00815E+11            Mati
48        2021-01-01  4.80411E+11            Mati
...              ...          ...             ...
9956      2021-12-31  7.31021E+11            Mati
9957      2021-12-31  5.00318E+11            Mati
9958      2021-12-31  5.30423E+11            Mati
9959      2021-12-31  4.70804E+11            Mati
9960      2021-12-31  5.30109E+11            Mati

[9916 rows x 3 columns]

In [7]:
df4.to_csv('FILE4CLEANED.csv', index=False)

In [8]:
#DONE CLEANING FILE 3